.edit-group-header{
    color:#483D8B;
    margin-bottom: 1em;
    font-size: 1.6em;
    margin-top:0;
}

.children-table{
    width: 80%;
    height: 50%;
    text-align: center;
    margin:auto;
}

.edit-group-wrapper{
    text-align: center;
}

.children-header{
    color:#483D8B;
    margin-top:1em;
}

.edit-group-save-btn{
    color: darkslateblue;
    background-color: lightblue;
    border: 2px solid darkslateblue;
    border-radius: 5px;
    font-size:0.7em;
    padding:0.3em 0.8em;
    display: inline-block;
    margin-left:1em;
    vertical-align:middle;
}

.parent{
    text-align: left;
    padding-bottom: 0.5em;
    font-size:1.3em;
    color: darkslateblue;
}

.parent-name{
    font-size: 1.2em;
    text-align: left;
    margin-left:2em;
}

.parent-wrapper{
    margin-right: 9.5em;
}

.delete-child-btn{
    border:none;
    background: white;
    cursor: pointer;
    outline: none;
    margin-right: 1em;
}

