.new-user-back-btn{

}

.create-new-user-btn{
    color: darkslateblue;
    background-color: lightblue;
    border: 2px solid darkslateblue;
    border-radius: 5px;
    margin-top:2em;
    font-size:1em;
    padding:0.5em 1em;
}

.new-user-wrapper{
    text-align: center;
    margin-top: 4em;
}

.new-user-header{
    color:#483D8B;
    margin-bottom: 1em;
    font-size: 1.6em;
}