.App {
  height: 100%;
}

.switch{
  height: 95%;
}
.nav-right{
  float:left;
}

nav{
  height: 5%;
  background-color: #71b3b3;
}

.btn-sign-up, .btn-login{
  border: none;
  background-color: #71b3b3;
  cursor: pointer;
  padding: 0.3em 0.6em;
  color: white;
  font-size: 1em;
}